//images
$hero_image: '/src/images/party_image.jpg';
$address_image: '/src/images/address_image.jpg';

//colors
$primary_purple: #150e39;
$secundary_purple: #A000FF;
$black: #000000;
$white: #ffffff;
$gray: #EAEAEA;

//breakpoints
$desktop: "1024px";
$tablet: "768px";